---
---

<script>
  // Get API key from server side .ENV file
  const APIKEY = import.meta.env.PUBLIC_WEATHER_API;
  
  // API endpoint URL
  const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
  // City
  const queryCity = 'Lincoln City';
  // Units for Fahrenheit
  const queryUnits = 'imperial';
  
  // URL query string
  const url = `${queryEndpoint}?q=${queryCity}&appid=${APIKEY}&units=${queryUnits}`;
  
  // Get DOM Elements
  const city = document.querySelector('.city');
  const temp = document.querySelector('.temp');
  const icon = document.querySelector('.icon');
  
  // Fetch weather data
  async function fetchWeatherData() {
    const response = await fetch(url);
    const data = await response.json();
    return data;
  }
  
  // Function to update the weather information
  async function updateWeather() {
    const data = await fetchWeatherData();
    
    // Check-check: Is data good? 
    console.log(data);
    
    // Set DOM Elements
    city.textContent = data.name;
    temp.textContent = `${Math.round(data.main.temp)}°F`;
    icon.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`);
  }
  
  // Call the function to update the weather
  updateWeather();
  </script>
  
  <!-- Weather -->
  <section class="weather">
    <h1>Weather</h1>
    <data class="city">City</data>
    <data class="temp">Temp</data>
    <img class="icon" src="https://via.placeholder.com/150" alt="Placeholder">
  </section>